<section class="advantages">
  <div class="container-advantages container">
    <h2 class="visually-hidden">Advantages</h2>
    <div class="list-of-advantages">
      <ul class="advantages-list">
        <li class="advantages-list-item">
          <h3 class="advantages-title">01</h3>
          <div class="line"></div>
          <p class="advantages-txt">
            Swimming and water sports: try your hand at water skiing.
          </p>
        </li>
        <li class="advantages-list-item">
          <h3 class="advantages-title">02</h3>
          <div class="line"></div>
          <p class="advantages-txt">Fishing: try to catch your own dinner.</p>
        </li>
        <li class="advantages-list-item">
          <h3 class="advantages-title">03</h3>
          <div class="line"></div>
          <p class="advantages-txt">
            Sightseeing tours: take a shore or island tour, enjoy the views and
            sunsets from the water.
          </p>
        </li>
        <li class="advantages-list-item">
          <h3 class="advantages-title">04</h3>
          <div class="line"></div>
          <p class="advantages-txt">
            Rest and relaxation: read a book or listen to music while enjoying
            the outdoor atmosphere.
          </p>
        </li>
      </ul>
    </div>
    <picture class="picture-adv">
      <source
        media="(min-width:1440px )"
        srcset="
          /img/desktop_1440/advantages-x1.jpg 1x,
          /img/desktop_1440/advantages-x2.jpg 2x
        "
      />
      <source
        media="(min-width: 1280px)"
        srcset="
          /img/desktop_1280/advantages-x1.jpg 1x,
          /img/desktop_1280/advantages-x2.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          /img/tablet/advantages-x1.jpg 1x,
          /img/tablet/advantages-x2.jpg 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          /img/mobile/advantages-x1.jpg 1x,
          /img/mobile/advantages-x2.jpg 2x
        "
      />
      <img
        class="advantages-photo"
        src="/img/mobile/advantages-x1.jpg"
        alt="yacht"
        width="704"
      />
    </picture>
  </div>
</section>
