<section class="yacht-page" id="yachts">
  <div class="container container-yachts">
    <h2 class="container-title-yachts">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="list-our-yachts">
      <li class="list-our-yachts-item">
        <picture>
          <source
            srcset="
              /img/desktop_1440/yaht-arrow-x1.jpg 1x,
              /img/desktop_1440/yaht-arrow-x2.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              /img/desktop_1280/yaht-arrow-x1.jpg 1x,
              /img/desktop_1280/yaht-arrow-x2.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              /img/tablet/yaht-arrow-x1.jpg 1x,
              /img/tablet/yaht-arrow-x2.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              /img/mobile/yaht-arrow-x1.jpg 1x,
              /img/mobile/yaht-arrow-x2.jpg 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="/img/desktop_1440/yaht-arrow-x1.jpg"
            alt="ARROW"
            width="392"
            height="508"
          />
        </picture>
        <div class="container-discr-yachts">
          <h3 class="container-discr-yachts-subtitle">Arrow</h3>
          <p class="container-discr-yachts-text">LUXURY YAHTS</p>
        </div>
        <div class="decor-div"></div>
        <div class="container-list-our-yachts">
          <ul class="list-class-our-yachts">
            <li class="list-class-our-yachts-item">LENGTH</li>
            <li class="list-class-our-yachts-item">BUILDER</li>
            <li class="list-class-our-yachts-item">BUILT</li>
            <li class="list-class-our-yachts-item">GUESTS</li>
            <li class="list-class-our-yachts-item">PRICE</li>
          </ul>
          <ul class="list-class-our-yachts">
            <li class="list-class-our-yachts-item">48m(155ft)</li>
            <li class="list-class-our-yachts-item">Admiral</li>
            <li class="list-class-our-yachts-item">2021</li>
            <li class="list-class-our-yachts-item">11 in 5 cabins</li>
            <li class="list-class-our-yachts-item">€33,500,000</li>
          </ul>
        </div>
      </li>
      <li class="list-our-yachts-item list-yahts-two">
        <picture>
          <source
            srcset="
              /img/desktop_1440/yaht-benetti-x1.jpg 1x,
              /img/desktop_1440/yaht-benetti-x2.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              /img/desktop_1280/yaht-benetti-x1.jpg 1x,
              /img/desktop_1280/yaht-benetti-x2.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              /img/tablet/yaht-benetti-x1.jpg 1x,
              /img/tablet/yaht-benetti-x2.jpg 2x
            "
            media="(min-width:768px)"
          />
          <img
            src="/img/desktop_1440/yaht-benetti-x1.jpg"
            alt="BENETTI OASIS 40M BO"
            width="392"
            height="508"
          />
        </picture>
        <div class="container-discr-yachts">
          <h3 class="container-discr-yachts-subtitle yaht-benetti">
            BENETTI OASIS 40M BO122
          </h3>
          <p class="container-discr-yachts-text">LUXURY YAHTS</p>
        </div>
        <div class="decor-div"></div>
        <div class="container-list-our-yachts">
          <ul class="list-class-our-yachts">
            <li class="list-class-our-yachts-item">LENGTH</li>
            <li class="list-class-our-yachts-item">SHIPYARD</li>
            <li class="list-class-our-yachts-item">BUILT</li>
            <li class="list-class-our-yachts-item">GUESTS</li>
            <li class="list-class-our-yachts-item">PRICE</li>
          </ul>
          <ul class="list-class-our-yachts">
            <li class="list-class-our-yachts-item">41m (133ft)</li>
            <li class="list-class-our-yachts-item">Benetti</li>
            <li class="list-class-our-yachts-item">2025</li>
            <li class="list-class-our-yachts-item">10 in 5 cabins</li>
            <li class="list-class-our-yachts-item">€23,210,000</li>
          </ul>
        </div>
      </li>
      <li class="list-our-yachts-item list-yachts-tree">
        <picture>
          <source
            srcset="
              /img/desktop_1440/yaht-belle-anna-x1.jpg 1x,
              /img/desktop_1440/yaht-belle-anna-x2.jpg 2x
            "
            media="(min-width:1440px)"
          />
          <source
            srcset="
              /img/desktop_1280/yaht-belle-anna-x1.jpg 1x,
              /img/desktop_1280/yaht-belle-anna-x2.jpg 2x
            "
            media="(min-width:1280px)"
          />
          <img
            src="/img/desktop_1440/yaht-belle-anna-x1.jpg"
            alt="BELLE ANNA"
            width="392"
            height="508"
          />
        </picture>
        <div class="container-discr-yachts">
          <h3 class="container-discr-yachts-subtitle">BELLE ANNA</h3>
          <p class="container-discr-yachts-text">LUXURY YAHTS</p>
        </div>
        <div class="decor-div"></div>
        <div class="container-list-our-yachts">
          <ul class="list-class-our-yachts">
            <li class="list-class-our-yachts-item">LENGTH</li>
            <li class="list-class-our-yachts-item">SHIPYARD</li>
            <li class="list-class-our-yachts-item">BUILT</li>
            <li class="list-class-our-yachts-item">GUESTS</li>
            <li class="list-class-our-yachts-item">PRICE</li>
          </ul>
          <ul class="list-class-our-yachts">
            <li class="list-class-our-yachts-item">50m(155ft)</li>
            <li class="list-class-our-yachts-item">ISA</li>
            <li class="list-class-our-yachts-item">2012</li>
            <li class="list-class-our-yachts-item">12 in 6 cabins</li>
            <li class="list-class-our-yachts-item">€21,000,000</li>
          </ul>
        </div>
      </li>
    </ul>
    <a class="button-link-yahts" href="#rental">Yacht rental</a>
  </div>
</section>
