<section class="rent-page">
  <div class="container" id="rental">
    <div class="article-form-div">
      <div class="no-image-class">
        <h2 class="rent-a-yacht-article">Rent a yacht now</h2>
        <form class="form-rent">
          <div class="form-rent-input">
            <label for="user-name">
              <input
                class="input-class-window"
                id="user-name"
                name="user-name"
                type="text"
                placeholder="Full Name"
                required
                pattern="[A-Za-zА-Яа-яЁёІіЇїЄє'`ґҐ\s-]+"
                minlength="2"
                maxlength="50"
              />
            </label>
            <label for="user-email">
              <input
                class="input-class-window"
                id="user-email"
                name="user-email"
                type="email"
                pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
                required
                placeholder="Email"
              />
            </label>

            <label for="user-phone">
              <input
                class="input-class-window"
                id="user-phone"
                name="user-phone"
                pattern="^+\d{2}-\d{3}-\d{3}-\d{2}-\d{2}$"
                type="tel"
                placeholder="Phone number"
                required
              />
            </label>
            <label for="user-comment">
              <textarea
                id="user-comment"
                name="user-comment"
                class="textarea-class"
                placeholder="Comment"
              ></textarea>
            </label>
          </div>

          <button class="button-rent" type="submit">Send</button>
        </form>
      </div>
      <picture>
        <source
          media="(min-width:1440px )"
          srcset="
            /img/desktop_1440/yaht-rent-x1.jpg 1x,
            /img/desktop_1440/yaht-rent-x2.jpg 2x
          "
        />
        <source
          media="(min-width:1280px )"
          srcset="
            /img/desktop_1280/yaht-rent-x1.jpg 1x,
            /img/desktop_1280/yaht-rent-x2.jpg 2x
          "
        />
        <source
          media="(min-width:768px )"
          srcset="
            /img/tablet/yaht-rent-x1.jpg 1x,
            /img/tablet/yaht-rent-x2.jpg 2x
          "
        />
        <source
          media="(max-width:767px )"
          srcset="
            /img/mobile/yaht-rent-x1.jpg 1x,
            /img/mobile/yaht-rent-x2.jpg 2x
          "
        />
        <img
          class="img-rent"
          src="/img/mobile/yaht-rent-x1.jpg"
          alt="Yacht"
          width="335"
        />
      </picture>
    </div>
  </div>
</section>
