.header {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    z-index: 7;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(251, 251, 251, 1);
  border-radius: 8px;
  padding: 4px 30px;
}
.header-logo {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21; 
    letter-spacing: -0.03em;
    color: rgba(27, 65, 75, 1);
}
.header-nav {
    display: none;
}
.header-nav-menu {
    display: flex;
    gap: 4px;
}
.header-social-list {
    display: none;
    gap: 8px;
}
.header-nav-link {
    display: inline-block;
    font-weight: 400;
    font-size: 9px;
    line-height: 1.3;
    padding: 15px 25px;
    background-color: rgba(27, 65, 75, 0.5);
    border-radius: 8px;
    color: rgba(251, 251, 251, 1);

}
.header-nav-link:hover,
.header-nav-link:focus{
    background-color: rgba(27, 65, 75, 1);

}
.header-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-social-icon {
    fill: rgba(27, 65, 75, 1);
}
.header-social-icon:hover,
.header-social-icon:focus{
    fill: rgba(6, 39, 48, 1);
}
.header-btn {
    line-height: 0;
    stroke:rgba(27, 65, 75, 1);
    background: none;
}

header .container {
    max-width: none;
}

@media screen and (min-width: 768px) {
    .header {
        top: 32px;
    }
    .header-btn {
        display: none;
    }
    .header-social-list {
        display: flex;
    }
    .header-nav {
        display: block;
    }
    .header-logo {
        font-size: 20px;
    }
}


@media screen and (min-width: 1280px) {
    .header-wrap {
        margin: 0 50px;
    }
}
