.mob-menu {
  padding: 16px 20px 40px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #0e1823;
}

.is-open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}

.mob-menu-head {
  border: 1px solid #fbfbfb;
  border-radius: 8px;
  height: 42px;
  background: #fbfbfb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  width: 100%;
}

.mob-menu-logo {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #1b414b;
}

.close-btn {
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 8px;
  background-color: transparent;
  padding: 0;
  position: relative;
}

.close-icon {
  position: absolute;
  top: 1px;
  right: 1px;
  fill: #055545;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.mob-menu-link {
  font-size: 9px;
  line-height: 1.3;
  border-radius: 8px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 8px;
  width: 91px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(27, 65, 75, 0.5);
  color: #fbfbfb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mob-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
}

.mob-soc-list-link {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mob-soc-icon {
  fill: #fbfbfb;
}

.mob-soc-icon {
  fill: #fbfbfb;
}

.mob-menu-link:hover,
.mob-menu-link:focus {
  background-color: #1b414b;
}
