*,
*::before,
*::after {
    box-sizing: border-box;
}
.container{
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
    }
.img-rent{
    display: none;
}
.rent-a-yacht {
    display: flex;
    padding: 80px 0 80px 0;
}

.rent-a-yacht-article{
    width: 222px;
    height: 28px;
    top: 3542px;
    left: 20px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 28px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-bottom: 40px;
}
.window-class{
    margin-bottom: 18px;
    position:relative;
}
.input-class-window{
    width: 335px;
    height: 42px;
    padding: 14px;
    border-radius: 12px;
    border: 1px;
    background-color: transparent;
    border: 1px solid rgba(251, 251, 251, 0.2)
        
}
.type-field{
    position: relative;
    margin-bottom: 40px;
    
}
.textarea{
    width:335px;
    height:108px;
    padding: 14px;
    border-radius: 12px;
    border: 1px;
    opacity: 0px;
    background-color: transparent;
    border: 1px solid rgba(251, 251, 251, 0.2)
}
.button-rent{
    width:122px;
    height:46px;
    padding: 14px 44px 14px 44px;
    gap: 10px;
    border-radius: 15px;
    opacity: 0px;
    background: rgba(27, 65, 75, 1);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(251, 251, 251, 1);
    cursor: pointer;
}
@media screen and (min-width: 768px) {
    .container {
            max-width: 768px;
            
        
        }
    .rent-a-yacht-article{
        width: 381px;
        height: 48px;
        top: 3957px;
        left: 148px;
        gap: 0px;
        opacity: 0px;
        font-family: Inter;
        font-size: 48px;
        font-weight: 500;
        line-height: 48px;
        letter-spacing: -0.02em;
        text-align: left;
        margin-bottom: 50px;
        left: 148px;

    }
        .input-class-window {
            width: 472px;
            height: 54px;
            padding: 18px;
            border-radius: 12px;
            border: 1px;
            background-color: transparent;
            border: 1px solid rgba(251, 251, 251, 0.2)
        }
    .type-fiel{
        margin-bottom: 50px;
    }
    .textarea{
        width: 472px;
        height: 116px;
    }
    .button-rent{
        width: 194px;
        height: 56px;
        padding: 18px 75px ;
        gap: 10px;
        border-radius: 15px;
        font-family: Inter;
        font-size: 18px;
        font-weight: 500;
        line-height: 19.8px;
        letter-spacing: -0.02em;
    
        
           
    }
}
@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;


    }
    .img-rent{
        display: flex;
        width: 658px;
        height: 534px;
        opacity: 0px;
        top: 3250px;
        left: 50px;
        border-radius: 24px;
            
    }
}
@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;


    }

    .img-rent {
        display: flex;
        width: 658px;
        height: 534px;
        opacity: 0px;
        top: 3250px;
        left: 50px;
        border-radius: 24px;

    }
}